//Font-family
$ROBOTO-BOLD: "Roboto-Bold";
$ROBOTO-MEDIUM: "Roboto-Medium";
$ROBOTO-REGULAR: "Roboto-Regular";
//Font-size:
$FONT-SIZE-REGULAR: 15; 
$FONT-SIZE-MEDIUM: 23;
$FONT-SIZE-BOLD: 28;
//color 
$primary_color: var(--color-1st); 
$primary_color_hover: var(--color-1st--hover);
$primary_color_text: var(--color-2st);
$primary_color_text_hover: var(--color-2st--hover);
//header
$primary_color_header: var(--color-3st);
$primary_color_header_hover: var(--color-3st--hover);
$primary_color_header_text: var(--color-4st);
// $primary_color_header_text_hover: var(--color-4st--hover);
$primary_color_header_text_hover: var(--color-1st);
//endcolor
$blue_color: #0c243c;
$blue_dank_color: #081727;
$gray_color: #e0e0e0;
$gray_light: #bebebe;
$black_color: black;
$white_color:#FFFFFF;
$yellow_color:#FFFF00;
$red_color:#FF0000;
$black_gray_color:#30333a;
$gray_hiden_color:#838383;